.recommendedVideos {
    flex: 84%;
    background-color: #1c1c1c;
    padding: 20px 20px;
    padding-bottom: 0;
}

.recommendedVideos>h2 {
    margin-left: 5px;
    margin-bottom: 20px;
    color: white;
}

.recommendedVideos__videos {
    display: flex;
    flex-wrap: wrap;
}