.searchPage {
    flex: 84%;
    background-color: #1c1c1c;
    padding: 20px 20px;
}

.searchPage__filter {
    display: flex;
    align-items: center;
    color: gray;
    font-size: xx-small !important;
}

.searchPage__filter>h2 {
    margin-left: 10px;
}

.searchPage>hr {
    height: 1px;
    border: 0;
    background-color: #3c3c3c;
    margin-top: 10px;
    margin-bottom: 10px;
}